apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: myapp
      release: demo
      svc: nodeport
  template:
    metadata:
      labels:
        app: myapp
        release: demo
        svc: nodeport
    spec:
      containers:
      - name: myapp
        image: wangyanglinux/myapp:v1.0
        ports:
        - containerPort: 80
